body{
    background: #070f4e;
}

.intro{
    background: #22313f; 
    padding: 60px 20px;
    display: flex;
}

.early-life{
    background: #c2cfd8; 
    padding: 30px 60px;
}

.imageschobackgrou{
    background-color: rgb(146, 213, 255);
    padding-right: 80px;
    
}
.education{
    background: #34495e; 
    padding: 30px 50px;
    display: flex;
}
.hobbies{
    padding: 40px 50px;
    margin: 30px 50px;
}
ul, li{
    color: white;
}

h2, h1{
    color: white;
}

.intro-text{
    margin: 40px 30px;
}
p{
    color: white;
}
.prof-pic{
    border-radius: 300px;
    margin-right: 100px;
    
}

.header{
    position: static;
    top: 0;
    left: 0;
    width: 95%;
    padding: 40px 30px 40px;
    background: #070f4e;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 95;
}

.titlelogo{
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-weight: 100px;
    margin-right: 800px;
    
}

nav.active{
    display: block;
}
nav a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 300px;
    margin-left: 35px;
}

.navbar a:hover{
    color: lightblue;
}
.navbar a:active{
    color:lightgreen;
}

/* lifeevents.html */

.turnpoint{
    background-color: #618685;
    display: flex;
}

.text1, .text4{
    padding: 50px;
    font-size: 18px;
}

.text2, .text5{
    margin: 50px;
    padding: 90px 50px;
    font-size: 18px;
}
.strengtext{
    background-color: #3baea0; 
    display: flex;
}

/* futureoutlook.html */

.future{
    background-color: #2e79ba; 
    display: flex;
}

.ftext1{
    padding: 50px 60px;
}

.ftext2{
    padding: 50px;
    margin-right: 130px;
    margin-bottom: 50px;
}
